header {
    display: flex;
    position: static;
    z-index: 5;
    justify-content: center;    
    background-color: #0245fe;
    height: 90px;
}

header.active {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    height: 90px;
    background-color: #1b57ffda;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 100%;
    width: 1500px;
}


.button__header_logo {
    all: unset;
    cursor: pointer;
}

.button__header_logo:focus {
    outline: auto;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header__link {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.header__button_panel {
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.459);
    transition: background-color 500ms ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.63);
    }
}

.about_project__menu {
    border: none;
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 7px;
    display: none;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
}

.about_project__menu span {
    position: absolute;
    width: 27px; 
    height: 3px;
    background-color: blue;
    border-radius: 3px;
    transition: 0.5s;
}

.about_project__menu span:nth-child(1) {
    transform: translateY(-9px); 
    width: 18px;
    left: 9px;
}

.about_project__menu.active span:nth-child(1) {
    width: 27px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}

.about_project__menu span:nth-child(2) {
    transform: translateY(9px);
    width: 9px;
    left: 9px;
}

.about_project__menu.active span:nth-child(2) {
    width: 27px; 
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.125s;
}

.about_project__menu.active span:nth-child(3) {
    transform: translateX(40px);
    width: 9px;
    left: 9px;
}

@media (max-width: 600px) {
    .about_project__menu {
        display: flex;
    }
    .header__list {
        display: none;
    }
}