.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0247FE;
}

.presentation__about_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.about_project__title {
    width: 600px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.about_project__description {
    margin-top: 30px;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    text-align: center;
}

.about_project__panel {
    margin-top: 46px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.514);
    padding: 15px 45px;
    transition: background-color 500ms ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.61);
    }
}

.header__controls {
    display: flex;
    gap: 10px;
}

.about_project__button_text {
    color: white;
    font-size: 18px;
}

.presentation_about__presentation_panel__img {
    margin-top: 50px;
    width: 70%;
    border-radius: 15px 15px 0px 0px;
    z-index: 2;
}


.presentation__image_container {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .about_project__title {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .about_project__title {
        width: 300px;
        font-size: 20px;
        flex-wrap: wrap;
    }
    .about_project__description {
        width: 100px;
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .about_project__description {
        width: 300px;
    }
}

@media (max-width: 473px) {
    .about_project__description {
        font-size: 14px;
    }
    .about_project__title {
        font-size: 25px;
    }
}